a
{
    color: white;
}

.dash-body{
    background-image: url('https://community-assets.home-assistant.io/original/3X/d/e/dea8c60d19e758c8744437e7b91b73c10ad0e030.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}